{% extends 'base.html' %}

{% block content %}
<p></p>
<div class="container">
    <form class="form-signin" method="POST">{% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">サインインする</h1>
        {% if error %}
        {{ error }}
        {% endif %}
        <label for="inputEmail" class="visually-hidden">ユーザー名</label>
        <input type="text" id="inputEmail" class="form-control" placeholder="ユーザー名" name="username_data" required="" autofocus="">
        <label for="inputPassword" class="visually-hidden">パスワード</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="パスワード" name="password_data" required="">
        <p></p>
        <button class="w-100 btn btn-lg btn-primary" type="submit">サインイン</button>
        <p class="mt-5 mb-3 text-muted">© 2017-2021</p>
    </form>
</div>
{% endblock content %}